<header>
    <nav>
        <ul class="top-menu">
            <li class="logo">
                <a><b>S</b>PORT<b>W</b>AY</a>
            </li>
            <li>
                <a>Найти тренировки</a>
            </li>
            <li>
                <a>Мои тренировки</a>
            </li>
            <li>
                <a>Ввести данные</a>
            </li>
            <li>
                <a>Олег Иванов</a>
            </li>
            <li>
                <a><span>Выйти из<br> кабинета</span></a>
            </li>
        </ul>
    </nav>
</header>