<header>
    <nav>
        <ul class="top-menu">
            <li>
                <a>logo</a>
            </li>
            <li>
                <a>Найти тренировки</a>
            </li>
            <li>
                <a>Мои тренировки</a>
            </li>
            <li>
                <a>Ввести данные</a>
            </li>
            <li>
                <a>Олег Иванов</a>
            </li>
            <li>
                <a><span>Выйти из<br> кабинета</span></a>
            </li>
        </ul>
    </nav>
</header>