<header>
    <nav>
        <ul class="top-menu">
            <li class="logo">
                <a><b>S</b>PORT<b>W</b>AY</a>
            </li>
            <li>
                <a>Найти тренировки</a>
            </li>
            <li>
                <a href="/workout/list">Мои тренировки</a>
            </li>
            <li>
                <a>Ввести данные</a>
            </li>
            <li>
                <a><%= data[0].user_name %></a>
            </li>
            <li>
                <a href="/logout"><span>Выйти из<br> кабинета</span></a>
            </li>
        </ul>
    </nav>
</header>