<div class="workout-wrapper">
    <ul>
        <li>
            <p>18:00</p>
            <span>ПН, СР, ПТ</span>
        </li>
        <li>
            <p>Название тренировки</p>
            <span>Описание тренировки</span>
        </li>
        <li>
            <p>Тренер Илья</p>
        </li>
        <li>
            <a class="workout-link">Подключиться</a>
        </li>
    </ul>
    <div class="workout-list">
        <h2>Список упражнений</h2>
        <p>Название тренировки</p>
        <div class="workout-table-wrapper">
            <table>
                <tr>
                    <th>
                       Кол-во
                       <br>
                       <span>(повторений)</span> 
                    </th>
                    <th>
                        Кол-во
                        <br>
                        <span>(подходов)</span> 
                     </th>
                     <th>
                        Упражнение
                     </th>
                     <th>
                        Статус
                     </th>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td><input type="checkbox"></td>
                </tr>
            </table>
        </div>
    </div>
</div>