<div class="workout-wrapper">
    <ul>
        <li>
            <p>18:00</p>
            <span>ПН, СР, ПТ</span>
        </li>
        <li>
            <p>Название тренировки</p>
            <span>Описание тренировки</span>
        </li>
        <li>
            <p>Тренер Илья</p>
        </li>
        <li>
            <a class="workout-link">Подключиться</a>
        </li>
    </ul>
</div>