<!DOCTYPE html>
<html>
<head>
	<title>ITL ONAT</title>
	<meta charset="utf-8">
    <meta name="description" content="Web app">
    <meta name="keyboard" content="Web, app">
    <meta name="viewport" content="width=540, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <%- include('../parts/header', data) %>
    <main>
        <h1>Доступные тренировки</h1>
        <% if(type === "workout-list"){ %>
            <%- include('../parts/workout-list', data) %>
        <% }else if(type === "workout-list-t"){ %>
            <%- include('../parts/workout-list-t', data) %>
        <% } %>
    </main>
    <%- include('../parts/footer') %>
</body>
</html>