<!DOCTYPE html>
<html>
<head>
	<title>ITL ONAT</title>
	<meta charset="utf-8">
    <meta name="description" content="Web app">
    <meta name="keyboard" content="Web, app">
    <meta name="viewport" content="width=540, initial-scale=1">
    <link rel="shortcut icon" href="./static/images/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/normalize.css">
    <link rel="stylesheet" href="./static/css/main.css">
    <link rel="stylesheet" href="./static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./static/css/mdb.css">
    <link rel="stylesheet" href="./static/css/index.css">
</head>
<body>

 <header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><span class='text-danger'>S</span>PORT<span class='text-danger'>W</span>AY</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Поиск тренировок</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Тренировка</a>
        </li>
        
      </ul>
	  <button type="button" class="navbar-btn">Войти в<br> кабинет тренера</button>
	  <button type="button" class="navbar-btn">Войти в<br> кабинет клиента</button>
    </div>
      </div>
    </nav>

    <!-- Intro Section -->
    <div id="home" class="view jarallax" style="background-image: url(./static/img/first_landing.png); background-size: cover;">
      <div class="mask">
        <div class="container h-100 d-flex align-items-center mt-5">
		<div class="header_template">
		<div class="header_post">
        <h3 class="header-text"><span class='text-danger'>S</span>port<span class='text-danger'>W</span>ay - <Br>
		ОНЛАЙН СПОРТЗАЛ
		</h3>
		
        </div>
		</div>
        </div>
      </div>
    </div>

  </header>
  <main>
  <div class="container container_main">
	<div class="header_template">
		<div class="header_post"> 
		<div class="header_post_right">
		<img src="./static/img/first2_landing.png" class='container_img'> <span class='container_text'><span class='container_white'>  <span class='text-danger'>S</span>PORT<span class='text-danger'>W</span>AY</span>  создан специально для людей, которые хотят быть в форме круглый год</span> 
		
        </div>
        </div>
		</div>
	
  </div>
    <div class="blackground">
      <div class="d-flex justify-content-center home_b" id="home2">
        <div class="d-flex justify-content-center align-items-center clines">
          <div class="cor_Fishka1">
            <div class="H_T-1">ФИШКА 1</div>
            <div class="H-1">Трекинг активности</div>
          </div>
      <br>

      <div class="d-flex clines-middle">
        <div class="cor_Fishka2">
          <div class="H_T-2">ФИШКА 2</div>
          <div class="H-2">Индивидуальный подход</div>
        </div>
        <div class="cl-1"></div>
        <div class="cl-2"></div>
        <div class="cor_Fishka3">
          <div class="H_T-3">ФИШКА 3</div>
          <div class="H-3">В любое время и место</div>
        </div>  
      </div>
      <br>
      <div class="cor_Fishka4">
        <div class="H_T-4">ФИШКА 4</div>
        <div class="H-4">Гибкая система тренировок</div>
      </div>
    </div>
  </div>
	
 <div class="container container_footer">
	<span class='container_white' style='font-weight: 800;'>
	Кликай, что бы начать тренировку!
	</span> <br>
	<button type="button" class="container-btn">Старт</button>
  </div>
	
	
  </main>


</body>
</html>