<!DOCTYPE html>
<html>
<head>
	<title>ITL ONAT</title>
	<meta charset="utf-8">
    <meta name="description" content="Web app">
    <meta name="keyboard" content="Web, app">
    <meta name="viewport" content="width=540, initial-scale=1">
    <link rel="shortcut icon" href="../app/static/images/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../app/static/css/normalize.css">
    <link rel="stylesheet" href="../app/static/css/main.css">
    <link rel="stylesheet" href="../app/static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../app/static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../app/static/css/mdb.css">
    <link rel="stylesheet" href="../app/static/css/index.css">
</head>
<body>

 <header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><span class='text-danger'>S</span>PORT<span class='text-danger'>W</span>AY</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Поиск тренировок</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Тренировка</a>
        </li>
        
      </ul>
	  <button type="button" class="navbar-btn">Войти в<br> кабинет тренера</button>
	  <button type="button" class="navbar-btn">Войти в<br> кабинет клиента</button>
    </div>
      </div>
    </nav>

    <!-- Intro Section -->
    <div id="home" class="view jarallax" style="background-image: url(../app/static/img/first_landing.png); background-size: cover;">
      <div class="mask">
        <div class="container h-100 d-flex align-items-center mt-5">
		<div class="header_template">
		<div class="header_post">
        <h3 class="header-text"><span class='text-danger'>S</span>port<span class='text-danger'>W</span>ay - <Br>
		ОНЛАЙН СПОРТЗАЛ
		</h3>
		
        </div>
		</div>
        </div>
      </div>
    </div>

  </header>
  <main>
  <div class="container container_main">
	<div class="header_template">
		<div class="header_post"> 
		<div class="header_post_right">
		<img src="../app/static/img/first2_landing.png" class='container_img'> <span class='container_text'><span class='container_white'>  <span class='text-danger'>S</span>PORT<span class='text-danger'>W</span>AY</span>  создан специально для людей, которые хотят быть в форме круглый год</span> 
		
        </div>
        </div>
		</div>
	
  </div>
  
   <div id="home2" style="position: relative; background-image: url(./static/img/first_landing3.png); background-size: cover; height: 100vh;">
    <div>
      <div class="crosslines1">
      <div class="flexiocent">Hello</div>
      <div class="flexiobtw">Hello</div>
      <div class="flexiocent">Hello</div>
      </div>
      <div class="crosslines2">
        <!-- <div class="l_text"></div> -->
        <!-- <div class="r_text"></div> -->
        <!-- <div class="t_text"></div> -->
        <!-- <div class="b_text"></div> --></div>  
    </div>
  </div>
	
 <div class="container container_footer">
	<span class='container_white' style='font-weight: 800;'>
	Кликай, что бы начать тренировку!
	</span> <br>
	<button type="button" class="container-btn">Старт</button>
  </div>
	
	
  </main>


</body>
</html>