<!DOCTYPE html>
<html>
<head>
	<title>ITL ONAT</title>
	<meta charset="utf-8">
    <meta name="description" content="Web app">
    <meta name="keyboard" content="Web, app">
    <meta name="viewport" content="width=540, initial-scale=1">
    <link rel="shortcut icon" href="./static/images/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/normalize.css">
    <link rel="stylesheet" href="./static/css/main.css">
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="stylesheet" href="./static/css/bootstrap/bootstrap.css">
</head>
<body>
<header class="container-fluid fixed-top">
    <div class="row">
        <div class="col-sm-3">
            Logo
        </div>
        <div class="col-sm-3">
            Text 1
        </div>
        <div class="col-sm-3">
            Text 2
        </div>
        <div class="col-sm-1">
            Btn1
        </div>
        <div class="col-sm-1">
            Btn2
        </div>
    </div>
</header>

<div class="first-img-wrapper">
    <div class="col-sm-12">
        <img class="first-i_img" src="./static/img/first_landing.png" alt="">
    </div>
</div>

</body>
</html>