<!DOCTYPE html>
<html>
<head>
	<title>ITL ONAT</title>
	<meta charset="utf-8">
    <meta name="description" content="Web app">
    <meta name="keyboard" content="Web, app">
    <meta name="viewport" content="width=540, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <%- include('../parts/header', {data: [{user_name: "Евгений Воронцов"}]}) %>
    <main>
        <h1>Поиск тренера</h1>
        <div class="search-block">
            <select>
                <option>Для похудения</option>
                <option>Для набора массы</option>
                <option>Тренировки для сердца</option>
                <option>Для пожилых</option>
                <option>После операций/травм</option>
            </select>
            <button id="search-t">Поиск</button>
        </div>
        <div class="trainers-block">
            
        </div>
    </main>
    <%- include('../parts/footer') %>
    <script src="../../static/js/search.js"></script>
</body>
</html>