@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');
/* BEGIN header */
header {
    background-color: rgba(128, 128, 128, 0.534);
    height: 3rem;
}

body {
    font-family: Montserrat;
	background-color: #122335;
}

/* END header */

.first-img-wrapper {
    background-color: rgb(136, 0, 0);
    /* max-height == высоте картинки */
    /* height: 100vh; */
    /* max-height: ; */

}
.navbar-dark {
	background-color: rgba(128, 128, 128, 0.534);
}
.navbar-btn {
    font-size: 10px;
    color: #ffffff !important;
    background-color: transparent !important;
    border: 2px solid #ff3547 !important;
    border-radius: 30px;
	padding: 5px 10px 5px 10px;
	margin-left: 10px;
}
html,
    body,
    header,
    .view.jarallax {
      height: 100%;
      min-height: 100%;
    }
.first-i_img{
    width: 100%;
}

.header_template div.header_post:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30px;
    border-top: 3px solid #C5395C;
    border-left: 3px solid #C5395C;
}

.header_template div.header_post:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-bottom: 3px solid #C5395C;
    border-left: 3px solid #C5395C;
} 

.header_template div.header_post_right:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    border-top: 3px solid #C5395C;
    border-right: 3px solid #C5395C;
}

.header_template div.header_post_right:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 30px;
    border-bottom: 3px solid #C5395C;
    border-right: 3px solid #C5395C;
}      

     
.header_template div.header_post {
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
	width: 100%;
}

.header-text {
	font-size: 45px;
    padding: 10px;
    background-color: #5460708a;
    color: #ddd;
	margin-bottom: 40px;
}

.container_main {
	height: 400px;
    padding-top: 50px;
}

.container_footer {
	height: 200px;
    padding-top: 50px;
}

.container_img {
	width: 400px;
	float: left;
}

.container_text {
	color: #c5395c;
	font-size: 22px;
    padding: 0px;
    margin: 0px;
    
}

.container_white {
	color: #FFF;
}

.crosslines1{
    color:white;
    width: 25%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.5);
    transform: rotate(45deg);
    position: absolute;
    left:37.5%;
    margin-top:25%;
}
.crosslines2{
    color:white;
    width: 25%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.5);
    transform: rotate(-45deg);
    position: absolute;
    left:37.5%;
    margin-top:25%;
}

.flexiocent{
position: absolute;
display: flex;
justify-content: center;    
}

.cl-1 {
    transform: rotate(45deg);
    width: 40rem;
    height: 3px;
    background-color: rgba(255, 254, 254, 0.5);
    position: absolute;
}
.cl-2 {
    transform: rotate(-45deg);
    width: 40rem;
    height: 3px;
    background-color:rgba(255, 254, 254, 0.5);
    position: absolute;
}

.clines {
    flex-direction: column;
    width: 20rem;
    z-index: 11;
}
.H-1 {
    color:white;
    margin-bottom: 6rem;
    /* margin-right: 10rem; */
}
.H_T-1{
    width: 6rem;
    color: red;
    background-color: black;
    text-decoration:underline;
}
.cor_Fishka1{
    width: 8rem;
    position:relative;
    bottom:1rem;
}
.H-2{
    color:white;
    margin-bottom: 4rem;
    margin-right: 0.5rem;
    /* margin-left: 10rem;s */
}
.H_T-2{
    width: 6rem;
    color: red;
    background-color: black;
    text-decoration:underline;
}
.cor_Fishka2{
    width: 8rem;
    position:relative;
    bottom:2rem;
    right:2rem;
}
.H-3 {
    color:white;
    margin-bottom: 4rem;
}
.H_T-3{
    width: 6rem;
    color: red;
    background-color: black;
    text-decoration:underline;
}
.cor_Fishka3{
    width: 8rem;
    position:relative;
    bottom:2rem;
    left: 2rem;
}

.H-4 {
    color:white;
    margin-bottom: 20 rem;
    /* margin-left: 10rem;s */
}
.H_T-4{
    width: 6rem;
    color: red;
    background-color: black;
    text-decoration:underline;
}
.cor_Fishka4{
    width: 8rem;
    position:relative;
    bottom:2rem;
}

.clines-middle {
    
    justify-content: space-evenly;
    width: 100%;
}

.flexiobtw{
position: absolute;
display: flex;
justify-content: space-between;
}
.container-btn{
    color: #ffffff !important;
    background-color: #f13446;
    border: 2px solid #ff3547 !important;
    border-radius: 30px;
	padding: 5px 30px 5px 30px;
	font-weight: 600;
	font-size: 18px;
}
.home_b{
    position: relative;
    background-image: url(../img/first_landing3.jpg);
    background-size: cover;
    height: 100vh;
}
.blackground{
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 10;
}


/* MODAL LOGIN/REGISTER - START */

.modal-auth{
    width: 500px;
    border: solid 4px #dc3153;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 40px;
    display: none;
    position: fixed;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    z-index: 10001;
}
.modal-auth > h3{
    color: white;
    font-weight: 500;
    text-align: center;
}
.modal-auth > h3 > span{
    color: #dc3153;
}
.modal-button{
    display: flex;
    padding: 0;
    margin-top: 20px;
}
.modal-button > li{
    flex: 1;
    text-align: center;
}
.modal-button > li > button{
    background-color: #dc3153;
    border: solid 2px #dc3153;
    border-radius: 25px;
    color: white;
    padding: 5px 25px;
    cursor: pointer;
    transition: .3s;
}
.modal-button > li > button:hover{
    background-color: #b1223f;
    border: solid 2px #b1223f;
}
.modal-fields{
    text-align: center;
}
.modal-fields input{
    width: 250px;
    padding: 5px 30px;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 14px;
    border-radius: 20px;
    outline: none;
    margin-top: 10px;
}
#sendAuth{
    background-color: #dc3153;
    border: solid 2px #dc3153;
    border-radius: 25px;
    color: white;
    padding: 5px 25px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
}
#sendAuth:hover{
    background-color: #b1223f;
    border: solid 2px #b1223f;
}
.modal-type-reg{
    display: none;
}
#filter{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(18, 35, 54, 0.9);
    display: none;
    z-index: 10000;
}

/* MODAL LOGIN/REGISTER - END */

